<link rel="stylesheet" href="/css/footer.css" />

<footer class="bg-dark text-light footer">
    <p>CopyRight</p>
    <p>&#169;</p>
    <p id="date"></p>
    <p>Blog Post</p>
</footer>

<script src="/js/footer.js"></script>
