<% layout("./layouts/boilerplate.ejs") %>

<link rel="stylesheet" href="/css/404_page.css" />

<div class="container main-div">
    <img src="/images/404.gif" alt="404.gif" />
    <button onclick="location.href = '/'">GO TO MAIN PAGE</button>
</div>
